.container {
  display: flex;
  flex-direction: column;
  max-width: 780px;
  align-items: center;
  margin: 84px auto 0px;
}

.blog-action-group {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 32px;
}
.blog-filter-group {
  display: flex;
}

.blog-filter-group > .input {
  margin-right: 8px;
}

.blog-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-bottom: 36px;
}

.blog-list > h1 {
  text-align: center;
  font-size: 24px;
  background: grey;
  color: white;
}

.blog__item {
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 8px 32px rgb(0 0 0 / 5%);
  margin:0 0 16px;
  padding: 24px;
}

.blog__item > h2 {
  font-size: 24px;
  margin:0 0 8px;
}

.blog__item > p {
  margin: 0;
  font-size: 12px;
}

.blog__item > span {
  margin-top: 14px;
  font-size: 12px;
  font-weight: 700;
  text-align: right;
}

.select, .input {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid grey;
  padding: 8px;
  border-radius: 5px;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid grey;
  padding: 12px 24px;
  border-radius: 5px;
}

.form {
  padding: 32px;
  height: 370px;
  box-shadow: 0 8px 32px rgb(0 0 0 / 5%); 
}
.form > textarea.input {
   height: 120px;
}

.form > .input{
  margin-bottom: 14px; 
  width: 100%;
}

.form > .btn {
  margin: auto 0 0;
}

.btn.btn--light {
  background-color: grey;
}

.btn.btn--dark {
  background-color: rgb(33, 33, 33);
  color: white;
}

.form > .form__controls-group {
  display: flex;
  width: 200px;
  justify-content: space-around;
}
 

/* Pagination */
.pagination {
  display: flex;
  list-style-type: none;
}
.pagination > li {
  padding: 12px;
}

.pagination > li.disabled {
  cursor: not-allowed;
}
.pagination > li.active {
  background-color: grey;
}


/* Modal */
.modal {
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #000000d6;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.modal.modal--close {
  display: none;
}

.modal > .modal__content {
  display: flex;
  flex-direction: column;
  width: 280px;
  background: white;
  margin: 0 auto;
  align-items: center;
  padding: 24px;
}

.modal__content > h1 {
  font-size: 24px;
  margin: 0 0 16px;
  text-align: center;
}

.modal__controls {
  margin-top: 12px;
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.modal__controls > .btn + .btn {
  margin-left: 8px;
}